<!DOCTYPE html>
<html>
    <head>
        <title>Consulta Endereço</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="../static/css/consultaUsuario.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    </head>


    <body>
        <div>
            <ul class="navbar justify-content-center">
                <li class="nav-item">
                    <a href="{{url_for('homeLogin')}}" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('consultaUsuarios')}}" class="nav-link active">Usuário</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('consultaTorresSites')}}" class="nav-link active">Torres</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('consultaEndereco')}}" class="nav-link active">Consulta Endereço</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Consulta Endereços em Lote</a>
                </li>
                <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <a href="{{url_for('index')}}" class="button is-primary">
                          <strong>Sair</strong>
                        </a>
                      </div>
                    </div>
                </div>
            </ul>
            
            <div class="container">
                <form class="formConsulta" action="{{url_for('retornaLocalizacao')}}" method="POST">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input style="outline: none" type="text" name="enderecoPesquisa" class="input" id="enderecoPesquisa" autofocus placeholder="Endereço ou CEP para consulta" required/>
                            </div>
                            <div class="col">
                                <input type="submit" class="button is-link" value="Consultar" />
                            </div>
                        </div>    
                    </div>
                </form>
            </div>
            
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Localização</th>
                        <th>Retorno</th>
                        <th>Data da Consulta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linha in logs %}
                        {% if linha[1] == "ENDEREÇO NÃO VÁLIDO" %}
                            <tr class="table-danger">
                        {% else %}
                            <tr class="table-success">
                        {% endif %}

                            {% for dado in linha%}
                                <td>{{ dado }}</td>
                            {% endfor%}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div> 
    </body>