{% extends "menu.html" %}       
{% block body %} 
        
<div class="table-responsive">
    <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID da Torre</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Altura</th>
                    <th scope="col">ID da Antena</th>
                    <th scope="col">Azimuth</th>
                    <th scope="col">Mechanical</th>
                    <th scope="col">Horizontal</th>
                    <th scope="col">Vertical</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">UF</th>
                    <th scope="col">Status</th>
                    <th scope="col">Alterar</th>
                    <th scope="col">Remover</th>
                </tr>
            </thead>
        <tbody>        
            {% for torre in torres %}
                <tr>
                    {% for linha in torre %}
                        {% if linha[0] or linha[4] %}
                            <th scope="row">{{ linha }}</th>
                        {% else %}
                            <td><input type="text" value="{{ linha }}" class="form-control" readonly></td>
                        {% endif %}
                    {% endfor %}
                    <td>A</td><td>E</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}   