{% extends "menu.html" %}       
{% block body %}         
    <div class="container">
            <form class="formConsulta" action="" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                                <input type="file" name="arqImportacao"  required />
                        </div>
                        <div class="col">
                                <input type="submit" value="Importar" class="button is-link" />
                        </div>
                    </div>    
                </div>
            </form>
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nome do Arquivo</th>
                    <th>Localização</th>
                    <th>Retorno</th>
                    <th>Data da importação</th>
                </tr>
            </thead>
            <tbody>
                {% for linha in logs %}
                    {% if linha[2] == "ENDEREÇO NÃO VÁLIDO" %}
                        <tr class="table-danger">
                    {% else %}
                        <tr class="table-success">
                    {% endif %}

                    {% for dado in linha%}
                        <td>{{ dado }}</td>
                    {% endfor%}

                    </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}          
    