<!DOCTYPE HTML>
<html>

	<head>
		<title>Validador de área de Cobertura</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="../static/css/consultaUsuario.css">
	</head>

	<body> 
		<div class="">
			<ul class="navbar justify-content-center">
                <li class="nav-item">
                    <a href="{{url_for('homeLogin')}}" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('consultaUsuarios')}}" class="nav-link active">Usuário</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('consultaTorresSites')}}" class="nav-link active">Torres</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('consultaEndereco')}}" class="nav-link active">Consulta Endereço</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('consultaEnderecoEmLote')}}" class="nav-link active">Consulta Endereços em Lote</a>
                </li>
                <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <a href="{{url_for('index')}}" class="button is-primary">
                          <strong>Sair</strong>
                        </a>
                      </div>
                    </div>
                </div>
            </ul>
		</div>
	</body>
</html>
